<%= render "title" %>
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Chamados em abertos</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          <thead>
            <tr>
              <th rowspan="1" colspan="1">ID</th>
              <th rowspan="1" colspan="1">Assunto</th>
              <th rowspan="1" colspan="1">De</th>
              <th rowspan="1" colspan="1">Status</th>
              <th rowspan="1" colspan="1">Prioridade</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr role="row" class="odd">
              <td class="sorting_1"><%= order.id %></td>
              <td><%= order.title %></td>
              <td><%= order.user.name %></td>
              <td><%= order.status %></td>
              <td><%= order.priority %></td>
              <td>
                <%= link_to edit_frontoffice_order_path(order) do %>
                <i class="far fa-edit"></i>
                <% end %>

                <%= link_to frontoffice_order_cancel_path(order), method: :patch, action: :cancel do %>
                <i class="fas fa-times" value = "Cancelado" > </i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
