<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <%= link_to frontoffice_root_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Comunicação
  </div>

  <!-- Nav Item - Pages Collapse Menu -->

  <% if confimation == true %>
  <li class="nav-item">
    <%= link_to frontoffice_calls_path,class: "nav-link collapsed",
    data: { toggle: "collapse", target: "#collapseTwo"},
    aria: {expanded: "true", controls: "collapseTwo"}  do %>
    <i class="fas fa-fw fa-rocket"></i>
    <span>Help-Desk</span>
    <% end %>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <%= link_to "Chamados", frontoffice_calls_path, class: "collapse-item" %>
        <%= link_to "Relatorios", frontoffice_calls_path, class: "collapse-item" %>
      </div>
    </div>
  </li>
  <% end %>
  <!-- Nav Item - Utilities Collapse Menu -->

  <li class="nav-item">
    <%= link_to frontoffice_orders_path, class: "nav-link collapsed",
    data: { toggle:"collapse", target:"#collapseUtilities" },
    aria: { expanded:"true", controls:"collapseUtilities" } do %>
    <i class="fas fa-fw fa-headset"></i>
    <span>Chamados</span>
    <% end %>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <%= link_to "Novo", new_frontoffice_order_path, class: "collapse-item" %>
        <%= link_to "Listar chamados", frontoffice_orders_path, class: "collapse-item" %>
        <%= link_to "Chamados Finalizados", frontoffice_orders_finished_path, action: :finished, class: "collapse-item" %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
