<% @orders.each do |order| %>
<%= order.title %>
<%= order.status %>
<%= order.user_finished %>
<%= order.date_finished %>
<%= link_to frontoffice_call_path(order), method: :patch do %>
<button type="button" name="button">finalizar</button>
<% end %>
<!--
<#%= form_tag frontoffice_calls_finished_path(record_key_for_dom_id(order)), method: :patch do %>
<#%= button_tag("Finalizar", {  }) %>
<#% end %> %>
-->
<br>
<% end %>
