<!DOCTYPE html>
<html>
  <head>
    <title>Helpdesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Inicio", frontoffice_root_path %>
    <br>
    <%= link_to "Sair", destroy_user_session_path, method: :delete %>
    <br>
    <%= current_user.name %> - <%= current_user.sector.name %>
    <hr>

    <br>

    <%= yield %>
  </body>
</html>
